
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees</h2>

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Data Export</h4>
            <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
            <a href="~/Employees/Create"><input style="float:right;" type="button" class="btn btn-success" value="Create new employee"></a>
            <div class="table-responsive m-t-40">
                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                            <th id="NoSort"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/js/lib/jquery/jquery.min.js")

<script type="text/javascript">

    $(document).ready(function () {

        getData();
        $("#NoSort").attr("class","none");
    });

    function getData() {

        $.ajax({

            type: "GET",
            url: "/Employees/list",
            dataType: "json",
            async: false,
            success: function (response) {

                var count = Object.keys(response).length;

                var t = $("#example23").DataTable();

                for (var i = 0; i < count; i++) {

                    var Id = JSON.stringify(response[i].Id);
                    var name = response[i].Name;
                    var office = response[i].Office;
                    var age = response[i].Age;
                    var pos = response[i].Position;
                    var date = response[i].StartDate;
                    var salary = JSON.stringify(response[i].Salary);
                    var link = "/Employees/Edit/" + Id;
                    var edit = "<a href="+link+">Edit</a>";
                    t.row.add([

                        name,
                        pos,
                        office,
                        age,
                        date,
                        salary,
                        edit

                    ]).draw(false);
                }
                
            },
            error: function (response) {

                alert("Error: " + response.error);
            }
        });
    }
</script>